body {
    background-color: rgb(201, 222, 235);
}

.titulo {
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    margin-top: 50px;
    background-color: #fff;
    opacity: 0.6;
    padding: 10px;
}

.texto {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 15px;
    padding: 30px;
}

.atencao {
    justify-content: center;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}