h1 {
    font-size: 80px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.quebra{
    height: 150px;
    width: auto;
    background-color: #fff;
}

.quebra button{
    padding: 10px;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: chartreuse;
    text-decoration: none;
}

.quebra a{
    text-decoration: none;
    color: black;
}

body {
    color: dark(19, 14, 7, 0.575);
    background-color: rgb(201, 222, 235);
    color: hsl(24, 77%, 15%);
}

.video {
    width: 885px;
    height: 500px;
    display: flex;
    margin: 0 auto;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fundo {
    background-image: url("img/coracao-dercilio.webp");
    background-size: cover;
    opacity: 0.3;
    width: 1500;
    size: 1500;
}

.duvidas{
    height: 180px;
    width: auto;
    background-color: #fff;
}

.duvidas button{
    padding: 10px;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: chartreuse;
    text-decoration: none;
}

.duvidas a{
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    color: black;
}

#carouselExampleCaptions {
    max-width: 100%;
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}

.carousel-inner img {
    display: block;
    margin: 0 auto;
    max-height: 768px; /* Define a altura máxima desejada */
    width: auto; /* Permite que a largura se ajuste automaticamente */
}

